@charset "UTF-8";
/*整体样式*/
/*body样式*/
body{
    font-size: 12px;
    font-style: normal;
    line-height: 25px;
    font-family: "宋体", Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #ECEADE;
    padding: 0px;
    margin: 0px;
}
/*链接普通样式*/
a{
    text-decoration: none;
}
/*未访问的链接样式*/
a:link{
    text-decoration: none;
   /* color: #756738;*/
}
/*鼠标放到连接上时的样式*/
a:hover{
    text-decoration: underline;
    /*color: #756738;*/
}
/*链接被按下时的样式*/
a:active{
    text-decoration: underline;
   /* color: #756738;*/
}
/*被访问过的链接样式*/
a:visited{
    text-decoration: none;
    /*color:#756738;*/
}
/*论坛头部顶端链接样式*/
.header_top_a{
    color: #756738;
}
/*论坛头部导航栏链接样式*/
.header_bottom_nav_a{
    color: #a86078;
}

/*图片样式*/
img{
    border: 0px;
}
/*论坛头部总体样式*/
#header{
    width: 960px;
    margin: 0 auto 0 auto;
    clear: both;
    float: none;
}
/*论坛头部顶端总体样式*/
#header_top{
    width: 100%;
    height: 26px;
    background-image: url(../images/header_top_box.jpg);
    background-repeat: no-repeat;
    color: #756738;
}
/*论坛头部顶端左侧样式*/
.header_top_left{
    float: left;
    padding-left: 20px;
    width: 120px;
}
/*论坛头部顶端右侧样式*/
.header_top_right{
    float:right;
    padding-right: 20px;
    width: 80px;
}
/*论坛头部中间总体样式*/
#header_middle{
    width: 100%;
    height: 150px;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
}
/*论坛头部底端总体样式*/
#header_bottom{
    width:100%;
    margin: 0 auto 0 auto;
    height: 37px;
   background-color: #fffff2;
    font-size: 14px;
    font-family: "黑体", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #a86078;
}
/*论坛头部底端菜单栏区块总体样式*/
.header_bottom_nav{
    width: 100%;
    margin: 0 auto 0 auto;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "黑体";
    font-size: 16px;
}
/*论坛头部底端菜单栏ul样式*/
div.header_bottom_nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: auto;
}
/*论坛头部底端菜单栏li样式*/
div.header_bottom_nav ul li{
    float: left;/*向左漂移，将竖排改为横排*/
    margin: 0 10px;
}
/*论坛中间主体部分总体样式*/
#main{
    width: 960px;
    margin: 0 auto 0 auto;
    clear: both;
    float: none;
}
/*论坛底部总体样式*/
#footer{
    width: 960px;
    margin: 40px auto 0 auto;
    clear: both;
    float: none;
}
/*论坛底部上部样式*/
.footer_top{
    height: 25px;
    background-color: #756738;
    color: #fffff2;
}
/*论坛底部段落样式*/
.footer_p{
    text-align: center;
    vertical-align: middle;
}
/*论坛底部中部样式*/
.footer_middle{
    height: 10px;
    color: #756738;
}
/*论坛底部下部样式*/
.footer_bottom{
    height: 10px;
    color: #756738;
}

